name: Build & Publish to NPM

on:
  push:
    tags:
      - v*

jobs:
  build:
    name: Build & Publish to NPM
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1

    - name: Checkout submodules
      run: |
        git submodule sync
        git submodule update --init --recursive --force

    - name: Build Docker Image
      run: |
        docker build -t libass/jso .

    - name: Build Binaries
      run: |
        docker run --rm --env LC_ALL=C.UTF-8 -v "${PWD}":/code libass/jso:latest

    - name: Setup node environment for NPM
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 20
        registry-url: 'https://registry.npmjs.org'
        check-latest: true

    - name: Publish to NPM
      run: SKIP_PREPARE=1 npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
